In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('a.csv')
df2 = pd.read_csv('b.csv')
df3 = pd.read_csv('c.csv')

In [47]:
def datetimeparser(df):
    dates = df.tolist()
    new_dates=[]
    for date in dates:
        try:
            new_dates.append(pd.to_datetime(date, format='%d/%m/%Y %H:%M:%S'))
        except ValueError:
            try:
                new_dates.append(pd.to_datetime(date, format='%H:%M-%d/%m/%Y'))
            except ValueError:
                try:
                    new_dates.append(pd.to_datetime(date, format='%d/%m/%Y-%H:%M'))
                except ValueError:
                    try:
                        new_dates.append(pd.to_datetime(date, format='%d/%m/%Y'))
                    except:
                        try:
                            new_dates.append(pd.to_datetime(date, format='%d/%m/%Y %H:%M'))
                        except:
                            try:
                                new_dates.append(pd.to_datetime(date, format='%m/%d/%Y %H:%M:%S'))
                            except:
                                new_dates.append(pd.to_datetime(date, format='%m/%d/%Y %H:%M'))
    return new_dates

In [34]:
df3['Timestamp'] = datetimeparser(df3['Timestamp'])
df2['Timestamp'] = datetimeparser(df2['Timestamp'])
df1['Timestamp'] = datetimeparser(df1['Timestamp'])

In [35]:
print(len(df1.columns),len(df2.columns),len(df3.columns))

12 15 19

In [36]:
df1.columns

Index(['Timestamp', 'Name of the Patient',
       'Name of the username contacting us.', 'Age', 'Gender', 'Location',
       'Oxygen Level', 'Comorbidities', 'Physical Discomfort',
       'This request is for :', 'Transport ', 'Additional Remarks'],
      dtype='object')

In [37]:
df2.columns

Index(['Timestamp', 'Name of the Patient',
       'Name of the username contacting us.', 'Age', 'Gender', 'Location',
       'Oxygen Level', 'Comorbidities', 'Physical Discomfort',
       'This request is for :', 'Transport ', 'Additional Remarks', 'Severity',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [38]:
df3.columns

Index(['Timestamp', 'Name of the Patient',
       'Name of the username contacting us.', 'Gender', 'Age', 'Location',
       'Oxygen Level', 'Comorbidities', 'Physical Discomfort',
       'This request is for :', 'Transport ', 'Additional Remarks',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Severity', 'Case Status',
       'Status Remarks', 'TimeStamp'],
      dtype='object')

In [39]:
df1.dropna(how='all')

,Timestamp,Name of the Patient,Name of the username contacting us.,Age,Gender,Location,Oxygen Level,Comorbidities,Physical Discomfort,This request is for :,Transport,Additional Remarks
0,2021-04-27 18:26:37,Ali ashraf,NaN,Over 45,Male,"Raza bazaar, patna\n",80-90,NaN,NaN,"Hospital Bed, ICU room",NaN,NaN
1,2021-04-27 18:41:52,Rohit kumar,NaN,Over 45,Male,"kaushambi, gaziabadh",80-90,Hypertension,Fever,Hospital Bed,NaN,NaN
2,2021-04-27 18:57:44,Veena yadav,NaN,Over 45,Female,"Hauz khas, delhi",90-95,"Diabetes, Hypertension",NaN,Oxygen Cylinder,NaN,NaN
3,2021-04-27 18:58:52,Balbir singh yadav,NaN,Over 45,Male,"hauz khas,delhi",90-95,"Diabetes, Hypertension",NaN,Oxygen Cylinder,NaN,NaN
4,2021-04-27 19:07:45,Parveen panday,NaN,18-45,Male,Gurgaon,Below 80,Diabetes,"Chest Pain, Fever, Fatigue","Oxygen Cylinder, Hospital Bed",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88,2021-04-29 02:59:59,b ranganath,NaN,Over 45,Male,14th b main road gokula first stage first phas...,80-90,NaN,"Fever, Fatigue",ICU room,NaN,NaN
89,2021-04-29 08:08:26,NaN,jaybansal_,NaN,Male,Medanta Hospital Gurgaon,NaN,NaN,NaN,Medicine,NaN,NaN
90,2021-04-29 08:55:52,Anju Sethi,arorashreshth,Over 45,Other,NaN,Below 80,NaN,NaN,Plasma,NaN,NaN
91,2021-04-29 09:23:03,Asha Vyas,shubhii2909,Over 45,Female,Kanpur,80-90,Hypertension,"Fever, Fatigue",Hospital Bed,Needed,NaN
92,2021-04-29 10:57:11,NaN,rohinimuthuvelan,Over 45,Female,West Delhi,Below 80,NaN,NaN,Hospital Bed,NaN,Please reach out to me 9981509467 if you get a...

In [40]:
df2.dropna(how='all')

,Timestamp,Name of the Patient,Name of the username contacting us.,Age,Gender,Location,Oxygen Level,Comorbidities,Physical Discomfort,This request is for :,Transport,Additional Remarks,Severity,Unnamed: 13,Unnamed: 14
0,2021-04-29 14:24:38,pardhikhanduri,pardhikhanduri,Over 45,Male,delhi NCR,80-90,NaN,Fatigue,ICU room,NaN,NaN,NaN,In Progress,NaN
1,2021-04-29 19:51:04,Yogender narayan tandan,NaN,Over 45,Male,1/6526 East rohtash Nagar shahdara delhi-110032,Below 80,NaN,NaN,"Hospital Bed, ICU room",NaN,NaN,NaN,In Progress,NaN
2,2021-04-29 20:58:34,NaN,harshpreet13677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,need 2 empty oxygen cylinders,Critical,In Progress,NaN
3,2021-04-29 21:16:43,Avinash Pandey,@eeshaan1005,18-45,Male,Greater NOIDA,Below 80,NaN,Fatigue,ICU room,Needed,"URGENT, huge fluctuation in o2 levels",Critical,In Progress,NaN
4,2021-04-30 09:50:53,"ashok kumar chandak , Lakshmi Devi",smitjeswani,Over 45,Other,"Barmer, Rajasthan",80-90,NaN,NaN,Medicine,NaN,NaN,NaN,In Progress,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,2021-08-05 00:56:07,NaN,COVID resources,NaN,NaN,greater noida,NaN,NaN,NaN,"Oxygen Cylinder, Ventilators, Home ICU",NaN,NaN,NaN,NaN,NaN
552,2021-08-05 01:12:13,NaN,nishu0103,NaN,NaN,ghaziabad,NaN,NaN,NaN,Plasma,NaN,NaN,NaN,NaN,NaN
553,2021-08-05 02:13:25,Chetan ram narula,Fallingstarsnapshot,Over 45,Male,Gurugram,NaN,NaN,NaN,Plasma,NaN,NaN,NaN,NaN,NaN
554,2021-10-05 08:38:28,Pushpa Bhatia,peeyush.jain.in,Over 45,Female,Currently west delhi,80-90,NaN,NaN,Ventilators,Available,"Comobidities: SLE and brain clot, needs to be ...",NaN,NaN,NaN
555,2021-05-13 08:30:25,Baby Duna Bai,shilpysaggu,Over 45,Female,Mahadevapura,Below 80,NaN,Fever,"Hospital Bed, Ventilators",NaN,NaN,NaN,NaN,NaN

In [41]:
df3.dropna(how='all')

,Timestamp,Name of the Patient,Name of the username contacting us.,Gender,Age,Location,Oxygen Level,Comorbidities,Physical Discomfort,This request is for :,Transport,Additional Remarks,Unnamed: 12,Unnamed: 13,Unnamed: 14,Severity,Case Status,Status Remarks,TimeStamp
0,2021-04-27 21:14:49,Ram Singh,NaN,Male,Over 45,"Bed No. 31, Emergency Ward, District Hospital ...",Below 80,NaN,NaN,Oxygen Cylinder,NaN,Oxygen cylinder required,NaN,NaN,NaN,Critical,In progress,NaN,2021-04-27 21:14:49
1,2021-04-27 23:43:47,Nehal Mittal,NaN,Female,18-45,Agra and Delhi,NaN,NaN,NaN,Medicine,Available,NaN,NaN,NaN,NaN,NaN,In progress,NaN,2021-04-27 23:43:47
2,2021-04-28 00:21:08,Mohan Chopra,linguistmanish,Male,Over 45,North Delhi,80-90,NaN,Fatigue,"Hospital Bed, ICU room",Available,Shortness in breathing\n,NaN,NaN,NaN,Critical,In progress,NaN,2021-04-28 00:21:08
3,2021-04-29 00:27:43,Nitin Seth,NaN,Male,18-45,Gurgaon,80-90,ARDS (Respiratory Failure),NaN,ICU room,Available,NaN,NaN,NaN,NaN,Critical,In progress,NaN,2021-04-29 00:27:43
4,2021-04-28 18:32:00,NaN,sadhana.khamkar,NaN,50+,Pune,98,NaN,NaN,Oxygen Beds,NaN,NaN,NaN,NaN,NaN,Non Critical,In progress,NaN,2021-04-28 18:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2021-04-28 19:48:30,Dinesh Sharma,dineshsharmaaa,Male,NaN,Delhi NCR,NaN,NaN,NaN,Oxygen Cylinder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-28 19:48:30
110,2021-04-28 20:43:00,NaN,srishhh03_,NaN,55+,Agra,77,NaN,NaN,Oxygen Cylinder,NaN,NaN,NaN,NaN,NaN,Critical,NaN,NaN,2021-04-28 20:43:00
111,2021-04-28 23:06:30,29/04/2021 23:06:30,30/04/2021 23:06:30,01/05/2021 23:06:30,02/05/2021 23:06:30,03/05/2021 23:06:30,04/05/2021 23:06:30,05/05/2021 23:06:30,06/05/2021 23:06:30,07/05/2021 23:06:30,08/05/2021 23:06:30,09/05/2021 23:06:30,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-28 23:06:30
112,2021-04-28 23:16:36,ayaan,ayaan,Male,Under 18,india,90-95,Atrial Fibrillation,Fatigue,Ambulance,Needed,urgent,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-28 23:16:36
113,2021-04-28 23:21:27,aditayn,adityan04,Male,Under 18,delhhi,90-95,Atrial Fibrillation,Fever,Donor,Available,a,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-28 23:21:27

In [42]:
df=pd.concat([df1,df2])

In [43]:
df=pd.concat([df,df3])

In [44]:
df
df.columns

Index(['Timestamp', 'Name of the Patient',
       'Name of the username contacting us.', 'Age', 'Gender', 'Location',
       'Oxygen Level', 'Comorbidities', 'Physical Discomfort',
       'This request is for :', 'Transport ', 'Additional Remarks', 'Severity',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 12', 'Case Status',
       'Status Remarks', 'TimeStamp'],
      dtype='object')

In [45]:
df4 = pd.read_csv('d.csv')
df4.columns

Index(['Username of the person contacting us', 'Location?', 'Requirement',
       'Criticality', 'Status', 'Name of the Patient', 'Age?', 'Gender',
       'Oxygen Level?', 'Comorbidities?', 'Any Discomfort?',
       'Additional Remarks?', 'Timestamp', 'Platform', 'Prescription',
       'Blood Type?', 'Can Receive', 'Covid', 'RT-PCR'],
      dtype='object')

In [48]:
df4
df4['Timestamp'] = datetimeparser(df4['Timestamp'])

In [49]:
df4=df4.rename(columns={"Username of the person contacting us":"Name of the username contacting us.",
                    "Location?":"Location",
                    "Requirement":"This request is for :",
                    "Age?":"Age",
                    "Gender?":"Gender",
                    "Oxygen Level?":"Oxygen Level",
                    "Any Discomfort?":"Physical Discomfort",
                    "Additional Remarks?":"Additional Remarks",
                    "Blood Type?":"Blood Type",
                    "Comorbidities?":"Comorbidities",
                   })

In [50]:
df4

,Name of the username contacting us.,Location,This request is for :,Criticality,Status,Name of the Patient,Age,Gender,Oxygen Level,Comorbidities,Physical Discomfort,Additional Remarks,Timestamp,Platform,Prescription,Blood Type,Can Receive,Covid,RT-PCR
0,priyankagautam_29,delhi,Oxygen Bed,Critical,Resolved,RAM CHANDER,Over 45,Male,80-90,NaN,NaN,NaN,2021-09-05 16:25:00,NaN,NaN,NaN,NaN,NaN,NaN
1,namyaa__,bangalore,ICU Beds,Critical,Resolved,DAISY LAZARUS,Over 45,Unspecified,Below 80,"Diabetes,Hypertension (Blood Pressure)","Fever,Fatigue",NaN,2021-09-05 16:47:00,NaN,NaN,NaN,NaN,NaN,NaN
2,rajur_aghu,dehradun,"Home ICU ,Oxygen Bed",Critical,Resolved,NaN,Over 45,Unspecified,80-90,NaN,NaN,NaN,2021-09-05 16:51:00,NaN,NaN,NaN,NaN,NaN,NaN
3,sarvjeet._.boxer,jaipur,Oxygen Bed,Non-Critical,Resolved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-05 17:33:00,NaN,NaN,NaN,NaN,NaN,NaN
4,nikitaa__singh,bareilyy,Plasma,NaN,Resolved,SUCHETA SINGH,18-45,Female,NaN,NaN,NaN,plasma of recoverd patient A+VE or AB+,2021-09-05 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,IABD_KHAN,BANGALORE,Tocilizumab,Non-Critical,Pending,NaN,NaN,NaN,NaN,NaN,NaN,prescription available,2021-05-30 18:09:00,Facebook,NaN,NaN,NaN,Covid,Positive
676,+91 80082 28833,HYDERABAD/ VIJAYWADA,Amphotericin B,Non-Critical,In Progress,NaN,NaN,NaN,NaN,NaN,NaN,presciption provided,2021-05-30 18:26:00,Whatsapp,NaN,NaN,NaN,NaN,NaN
677,+91 99132 22993,"PRAYAGRAJ, JAGRITI HOSPITAL, CIVIL LINES, PRAY...",Blood,Non-Critical,In Progress,NaN,NaN,NaN,NaN,NaN,NaN,4 units,2021-05-30 18:55:00,Whatsapp,NaN,O-,O- only,NaN,NaN
678,KHIALANIPRIYANKA,AHMEDABAD,Amphotericin B,Non-Critical,In Progress,NaN,NaN,NaN,NaN,NaN,NaN,no prescription provided,2021-05-30 18:58:00,Facebook,NaN,NaN,NaN,NaN,NaN
679,+91 94433 63809,COIMBATORE,Amphotericin B,Non-Critical,In Progress,NaN,NaN,NaN,NaN,NaN,NaN,prescription provided,2021-05-30 19:27:00,Whatsapp,NaN,NaN,NaN,NaN,NaN

In [51]:
l1 = list(df.columns)
l2 = list(df4.columns)

In [52]:
print([data for data in l1 if data in l2])

['Timestamp', 'Name of the Patient', 'Name of the username contacting us.', 'Age', 'Gender', 'Location', 'Oxygen Level', 'Comorbidities', 'Physical Discomfort', 'This request is for :', 'Additional Remarks']

In [53]:
df = pd.concat([df,df4])

In [54]:
df

,Timestamp,Name of the Patient,Name of the username contacting us.,Age,Gender,Location,Oxygen Level,Comorbidities,Physical Discomfort,This request is for :,...,Status Remarks,TimeStamp,Criticality,Status,Platform,Prescription,Blood Type,Can Receive,Covid,RT-PCR
0,2021-04-27 18:26:37,Ali ashraf,NaN,Over 45,Male,"Raza bazaar, patna\n",80-90,NaN,NaN,"Hospital Bed, ICU room",...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-27 18:41:52,Rohit kumar,NaN,Over 45,Male,"kaushambi, gaziabadh",80-90,Hypertension,Fever,Hospital Bed,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-27 18:57:44,Veena yadav,NaN,Over 45,Female,"Hauz khas, delhi",90-95,"Diabetes, Hypertension",NaN,Oxygen Cylinder,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-27 18:58:52,Balbir singh yadav,NaN,Over 45,Male,"hauz khas,delhi",90-95,"Diabetes, Hypertension",NaN,Oxygen Cylinder,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-27 19:07:45,Parveen panday,NaN,18-45,Male,Gurgaon,Below 80,Diabetes,"Chest Pain, Fever, Fatigue","Oxygen Cylinder, Hospital Bed",...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,2021-05-30 18:09:00,NaN,IABD_KHAN,NaN,NaN,BANGALORE,NaN,NaN,NaN,Tocilizumab,...,NaN,NaT,Non-Critical,Pending,Facebook,NaN,NaN,NaN,Covid,Positive
676,2021-05-30 18:26:00,NaN,+91 80082 28833,NaN,NaN,HYDERABAD/ VIJAYWADA,NaN,NaN,NaN,Amphotericin B,...,NaN,NaT,Non-Critical,In Progress,Whatsapp,NaN,NaN,NaN,NaN,NaN
677,2021-05-30 18:55:00,NaN,+91 99132 22993,NaN,NaN,"PRAYAGRAJ, JAGRITI HOSPITAL, CIVIL LINES, PRAY...",NaN,NaN,NaN,Blood,...,NaN,NaT,Non-Critical,In Progress,Whatsapp,NaN,O-,O- only,NaN,NaN
678,2021-05-30 18:58:00,NaN,KHIALANIPRIYANKA,NaN,NaN,AHMEDABAD,NaN,NaN,NaN,Amphotericin B,...,NaN,NaT,Non-Critical,In Progress,Facebook,NaN,NaN,NaN,NaN,NaN
679,2021-05-30 19:27:00,NaN,+91 94433 63809,NaN,NaN,COIMBATORE,NaN,NaN,NaN,Amphotericin B,...,NaN,NaT,Non-Critical,In Progress,Whatsapp,NaN,NaN,NaN,NaN,NaN

In [55]:
df['Timestamp']

0     2021-04-27 18:26:37
1     2021-04-27 18:41:52
2     2021-04-27 18:57:44
3     2021-04-27 18:58:52
4     2021-04-27 19:07:45
              ...
675   2021-05-30 18:09:00
676   2021-05-30 18:26:00
677   2021-05-30 18:55:00
678   2021-05-30 18:58:00
679   2021-05-30 19:27:00
Name: Timestamp, Length: 1443, dtype: datetime64[ns]

In [57]:
df.to_csv('final_df.csv')